<h1>Welcome !</h1>
<p>Voici la liste des gossips :<br><br>
	<% @gossips.each do |gossip| %>
		<%= gossip.author %> aurait dit : "<%= gossip.content %>".<br><br>
	<% end %>
</p>


<p><%= link_to "Contact", /welcome %></p>
<p><%= link_to "L'équipe", /team %></p>
