<br><br>
  	<h1>The Gossip Project</h1>

	<h3>Bonjour à toi, grand(e) manitou(e) ! Bienvenue sur le meilleur forum de commérage au monnnnnde !</h1>

	<p><b>Sans plus attendre, je te présente la liste des potins du moment :</b><br><br>

	<% @gossips.each do |gossip| %>
		<%= gossip.author %> aurait dit : "<%= gossip.content %>".<br>
    <%= link_to "Clique ici pour afficher la page de ce potin", gossips_path(gossip.id)%><br><br>
	<% end %>
